*.o
*.obj
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
*.swp
*.old
*.bak
*.cache
*.tags
.DS_Store
Debug
Release
bin
obj
.svn
.git
.idea
venv
Cache
py.*
_jb_unittest_runner.py.log
*.log
*.log.*
dirty.txt
apidoc
Thumbs.db
pypam 
build
exe
*egg-info*
*.whl
*.spec
**/installer/windows/python_pam/python/**
.vscode*
