[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyautogui = "==0.9.41"
pip = "*"
"aniso8601" = "==6.0.0"
attrs = "==19.1.0"
certifi = "==2019.3.9"
chardet = "==3.0.4"
click = "==7.0"
dpath = "==1.4.2"
flask = "==1.0.2"
flask-restplus = "==0.12.1"
hvac = "==0.7.2"
idna = "==2.8"
itsdangerous = "==1.1.0"
"jinja2" = "==2.10"
jsonschema = "==3.0.1"
markupsafe = "==1.1.1"
pillow = "==5.4.1"
pyaml = "==18.11.0"
pygetwindow = "==0.0.3"
pymsgbox = "==1.0.6"
pyobjc = "==5.1.2"
pyobjc-core = "==5.1.2"
pyobjc-framework-accounts = "==5.1.2"
pyobjc-framework-addressbook = "==5.1.2"
pyobjc-framework-applescriptkit = "==5.1.2"
pyobjc-framework-applescriptobjc = "==5.1.2"
pyobjc-framework-applicationservices = "==5.1.2"
pyobjc-framework-automator = "==5.1.2"
pyobjc-framework-avfoundation = "==5.1.2"
pyobjc-framework-avkit = "==5.1.2"
pyobjc-framework-calendarstore = "==5.1.2"
pyobjc-framework-cfnetwork = "==5.1.2"
pyobjc-framework-cloudkit = "==5.1.2"
pyobjc-framework-cocoa = "==5.1.2"
pyobjc-framework-collaboration = "==5.1.2"
pyobjc-framework-colorsync = "==5.1.2"
pyobjc-framework-contacts = "==5.1.2"
pyobjc-framework-contactsui = "==5.1.2"
pyobjc-framework-coreaudio = "==5.1.2"
pyobjc-framework-coreaudiokit = "==5.1.2"
pyobjc-framework-corebluetooth = "==5.1.2"
pyobjc-framework-coredata = "==5.1.2"
pyobjc-framework-corelocation = "==5.1.2"
pyobjc-framework-coremedia = "==5.1.2"
pyobjc-framework-coremediaio = "==5.1.2"
pyobjc-framework-coreml = "==5.1.2"
pyobjc-framework-coreservices = "==5.1.2"
pyobjc-framework-corespotlight = "==5.1.2"
pyobjc-framework-coretext = "==5.1.2"
pyobjc-framework-corewlan = "==5.1.2"
pyobjc-framework-cryptotokenkit = "==5.1.2"
pyobjc-framework-dictionaryservices = "==5.1.2"
pyobjc-framework-discrecording = "==5.1.2"
pyobjc-framework-discrecordingui = "==5.1.2"
pyobjc-framework-diskarbitration = "==5.1.2"
pyobjc-framework-dvdplayback = "==5.1.2"
pyobjc-framework-eventkit = "==5.1.2"
pyobjc-framework-exceptionhandling = "==5.1.2"
pyobjc-framework-externalaccessory = "==5.1.2"
pyobjc-framework-findersync = "==5.1.2"
pyobjc-framework-fsevents = "==5.1.2"
pyobjc-framework-gamecenter = "==5.1.2"
pyobjc-framework-gamecontroller = "==5.1.2"
pyobjc-framework-gamekit = "==5.1.2"
pyobjc-framework-gameplaykit = "==5.1.2"
pyobjc-framework-imagecapturecore = "==5.1.2"
pyobjc-framework-imserviceplugin = "==5.1.2"
pyobjc-framework-inputmethodkit = "==5.1.2"
pyobjc-framework-installerplugins = "==5.1.2"
pyobjc-framework-instantmessage = "==5.1.2"
pyobjc-framework-intents = "==5.1.2"
pyobjc-framework-iosurface = "==5.1.2"
pyobjc-framework-ituneslibrary = "==5.1.2"
pyobjc-framework-latentsemanticmapping = "==5.1.2"
pyobjc-framework-launchservices = "==5.1.2"
pyobjc-framework-libdispatch = "==5.1.2"
pyobjc-framework-localauthentication = "==5.1.2"
pyobjc-framework-mapkit = "==5.1.2"
pyobjc-framework-mediaaccessibility = "==5.1.2"
pyobjc-framework-medialibrary = "==5.1.2"
pyobjc-framework-mediaplayer = "==5.1.2"
pyobjc-framework-mediatoolbox = "==5.1.2"
pyobjc-framework-modelio = "==5.1.2"
pyobjc-framework-multipeerconnectivity = "==5.1.2"
pyobjc-framework-netfs = "==5.1.2"
pyobjc-framework-networkextension = "==5.1.2"
pyobjc-framework-notificationcenter = "==5.1.2"
pyobjc-framework-opendirectory = "==5.1.2"
pyobjc-framework-osakit = "==5.1.2"
pyobjc-framework-photos = "==5.1.2"
pyobjc-framework-photosui = "==5.1.2"
pyobjc-framework-preferencepanes = "==5.1.2"
pyobjc-framework-pubsub = "==5.1.2"
pyobjc-framework-qtkit = "==5.1.2"
pyobjc-framework-quartz = "==5.1.2"
pyobjc-framework-safariservices = "==5.1.2"
pyobjc-framework-scenekit = "==5.1.2"
pyobjc-framework-screensaver = "==5.1.2"
pyobjc-framework-scriptingbridge = "==5.1.2"
pyobjc-framework-searchkit = "==5.1.2"
pyobjc-framework-security = "==5.1.2"
pyobjc-framework-securityfoundation = "==5.1.2"
pyobjc-framework-securityinterface = "==5.1.2"
pyobjc-framework-servicemanagement = "==5.1.2"
pyobjc-framework-social = "==5.1.2"
pyobjc-framework-spritekit = "==5.1.2"
pyobjc-framework-storekit = "==5.1.2"
pyobjc-framework-syncservices = "==5.1.2"
pyobjc-framework-systemconfiguration = "==5.1.2"
pyobjc-framework-videotoolbox = "==5.1.2"
pyobjc-framework-vision = "==5.1.2"
pyobjc-framework-webkit = "==5.1.2"
pyrect = "==0.1.4"
pyrsistent = "==0.14.11"
pyscreeze = "==0.1.19"
pytweening = "==1.0.3"
pytz = "==2018.9"
pyyaml = "==3.13"
requests = "==2.21.0"
six = "==1.12.0"
stringcase = "==1.2.0"
"urllib3" = "==1.24.1"
werkzeug = "==0.14.1"

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
startpam = "python -m alabs.pam.la.bot 8081"
startvm = "python -m alabs.pam.variable_manager 8011"
