# pip dependent packages

#alabs.common

# needed
wheel

# default for alabs.ppm
PyYAML
requests
requirements-parser
beautifulsoup4

# for SOAP & WSDL
lxml==4.2.5
zeep

## for installer STU & PAM pakcaging
#PyInstaller
#pypiwin32
#
## for pyinstaller
#six
#packaging
