# pip dependent packages

## termcolor==1.1.0 does not supoort in windows
#requests>=2.18.4
#requests-file>=1.4.3
#
## for flask service with flask-restplus
#flask-restplus>=0.10.1
#Flask-Login>=0.4.0
#miracle-acl>=0.0.4.post1
#
#filelock>=2.0.11
#
#PyMySQL>=0.7.11
#pymongo>=3.5.1
PyYAML>=3.13
#
## for pickledb
#simplejson>=3.13.2
#
## for redis
#redis>=2.10.6
