# pip dependent packages

# default for alabs
alabs.common
alabs.ppm
pyparsing

numpy
gevent
flask
flask-restplus
PyYaml
chardet
requests
requirements-parser
bs4
pyautogui
pyscreenshot
opencv-contrib-python
opencv-python
pyperclip
selenium
wda
keyboard

# Select Window for Windows
pywin32
psutil
