# pip dependent packages

# ==============================================================================
# default for alabs
alabs.common
alabs.ppm
pyparsing

# ==============================================================================
# All of platform
numpy
gevent
flask
werkzeug==0.16.1
flask-restx
PyYaml
chardet
requests
requirements-parser
bs4
pyautogui
pyscreenshot
opencv-contrib-python
opencv-python
pyperclip
selenium
wda
keyboard
pycryptodome

# OCR
pytesseract

# Excel Basic
openpyxl

# ==============================================================================
# Select Window for Windows
pywin32; sys_platform == 'win32'
psutil; sys_platform == 'win32'

# Window Object
Appium-Python-Client; sys_platform == 'win32'

