# pip dependent packages

# default for alabs
alabs.common
alabs.ppm
pyparsing


numpy
gevent
flask
werkzeug==0.16.1
flask-restx
PyYaml
chardet
requests
requirements-parser
bs4
pyautogui
pyscreenshot
opencv-contrib-python
opencv-python
pyperclip
selenium
wda
keyboard

# Select Window for Windows
pywin32
psutil

# Crypto for Windows
pycryptodome